:root {
    --blue-primary: #001C33;
    --blue-secondary: #004371;
    --blue-highlight: #74EADA;
    --blue-light: #F2F5F8;
    --gray: #D1D1D1;
}

.margin-top--5{
    margin-top: -5px;
}

.navbar {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    height: 40px; /* Adjust the height as needed */
    width: auto;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-link {
    padding: 15px;
    color: #000; /* Black links */
}

.navbar-nav .nav-link:hover {
    color: #001C33; /* Light gray on hover */
}

.avatar img{
    margin-left: auto;
    height: 40px;
    width: auto;
}
